<!-- 
<p-sidebar [(visible)]="showSidebar" position="left" [baseZIndex]="1000">
  <h1>Contenido del Sidebar</h1>
   Agrega los elementos y contenido que desees en el sidebar -->
 
  <!-- <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
  <a mat-button routerLink="home" routerLinkActive="active">Home</a>
  <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
 
  <button pButton type="button" label="Cerrar Sidebar" (click)="closeSidebar()">close</button>
</p-sidebar> -->

<!-- Contenido principal -->
<!-- <div>
  <button pButton type="button" label="Abrir Sidebar" (click)="openSidebar()">abrir</button>
  
</div> --> 

<p-sidebar [(visible)]="showSidebar" position="left" [baseZIndex]="1000">
  <h1>Contenido del Sidebar</h1>
  <!-- Agrega los elementos y contenido que desees en el sidebar -->
  <button pButton type="button" label="Cerrar Sidebar" (click)="closeSidebar()"></button>
</p-sidebar>

<!-- Contenido principal -->
<div>
  <button pButton type="button" label="Abrir Sidebar" (click)="openSidebar()"></button>
  <router-outlet></router-outlet>
</div>